        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }


        @font-face{
            font-family: 'Helvetica';
            src: url("../ExploreandMore/font/HelveticaNeueCyr-Roman.woff") format('woff');
            font-style: normal;

            font-family: 'Helvetica';
            src: url("../ExploreandMore/font/HelveticaNeue-Light") format('woff');
            font-style: 300;

            font-family: 'Ringside';
            src: url("../ExploreandMore/font/Ringside-Bold.woff") format('woff');
            font-weight: bold;

            font-family: 'Ringside';
            src: url("../ExploreandMore/font/Ringside-Book.woff") format('woff');
            font-weight: 350;

            font-family: 'Ringside';
            src: url("../ExploreandMore/font/Ringside-Medium.woff") format('woff');
            font-weight: 500;


        }

        h1{
            font-family: Helvetica;
            font-weight: normal;
            font-size: 3em;
            height: 100%;
            display: inline-block;

        }


        h2{

            font-family: Ringside;
            font-weight: 500;
            font-size: 1rem;
            
        }


        h3{

            font-family: Ringside;
            font-weight: 350;
            font-size: 0.7rem;
            
        }

       h4{

            font-family: Ringside;
            font-weight: 500;
            font-size: 1.2rem;
            display: inline-block;
            
        }

       h5{

            font-family: Ringside;
            font-weight: 500;
            font-size: 2em;
            display: inline-block;
            padding-left: 0.4rem;
            
        }

        h6{
            font-family: Helvetica;
            font-weight: 300;
            font-size: 3em;
            height: 100%;
            display: inline-block;

        }

        body{
            font-family: Ringside;
            font-weight: 350;
            font-size: 1rem;
            background-color: rgb(255, 157, 172);
            
        }

        a{
            color: black;
        }

       /* button{
            background: transparent;
            box-shadow: 0px 0px 0px transparent;
            border: 0px solid transparent;
            text-shadow: 0px 0px 0px transparent;
        }

        button:hover{
            cursor: pointer;
            text-decoration: underline;
            text-decoration-thickness: 10% ;
        }

         .view-all{
            padding-left: 2rem;
            padding-top: 1.5rem;
        }       





        /*.exhibitions{
            position: relative;
            margin: auto;
            padding-left: 3rem;
            padding-top: 2rem;
            transform-origin: top left;
            transform: rotateZ(7deg);
        }*/

        .exhibitions-neighbour,
        .exhibitions{
            position: relative; /* Remember to put position: relative and position: absolute*/
            margin: auto;
            padding-left: 4rem;
            padding-top: 2rem;

            animation-duration: 1s;
            animation-fill-mode: forwards;
            animation-name: rotate;
        }

        @keyframes rotate {
            from {
                transform: rotateZ(0deg);
            }
        to {
            transform: rotateZ(5deg);
            transform-origin: top left;
            }
        }

        /* FOR HOVERING 

        .exhibitions-neighbour:hover{
            transform-origin: 50px 50px;
            transform: rotateZ(8deg);
            transition: transform 0.5s
        }

        */


        a{
            color: black;
            text-decoration: none;
        }

        .link {
          display: inline-block;
          position: relative;
          color: black;
          top: 1rem;
          left: 3.8rem;
        }

        .link:after {
          content: '';
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: rgb(252, 238, 33);
          transform-origin: bottom right;
          transition: transform 0.25s ease-out;
        }

        .link:hover:after {
          transform: scaleX(1);
          transform-origin: bottom left;
          cursor: pointer;
        }  

        .link-sidebar {
          display: inline-block;
          position: relative;
          color: black;
          top: 0.4rem;
          left: 1rem;
        }

        .link-sidebar:after {
          content: '';
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: rgb(252, 238, 33);
          transform-origin: bottom right;
          transition: transform 0.25s ease-out;
        }

        .link-sidebar:hover:after {
          transform: scaleX(1);
          transform-origin: bottom left;
          cursor: pointer;
        }              

        .exhibition-header{
            text-align: left;
        }

        .exhibition-sun{
            position: absolute;
            top: -1.5rem;
            left: 9.3rem;
            transform: scale(0.45);
        }

       .neighbour-sun{
            position: absolute;
            top: -1.5rem;
            left: 12.15rem;
            transform: scale(0.45);
        }

        .contents {
            display: grid;
            grid-template-columns: 1fr 3fr;
            height: 100vh;
        }

        .content {
            position: relative;
            height: 100vh;
            border-left: 1px solid #000;
            overflow-y: scroll;
            margin: 0;
            padding-bottom: 3rem;

            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }


        /* Hide scrollbar for Chrome, Safari and Opera */
        .content::-webkit-scrollbar {
          display: none;
        }

        .content-header{
            padding: 1rem;
            border-left: 1px solid #000;
            overflow-y: scroll;

            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */

        }

       .content-header::-webkit-scrollbar {
          display: none;
        }

        .sidebar-grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-top: 2rem;
        }

        .sidebar-grid-admission{
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-top: 1rem;
        }

        .center{
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-width: 85%;
        }

        .responsive{
            max-width: 100%;
            height: auto;

        }

        ol,ul{
            list-style: none;
        }

        .dropdown {
            position: relative;
            left: 0;
            top: 0;
            height: 100%;
            width: 250px;
            padding-top: 2rem;
            padding-left: 1rem;
        }

        .dropdown li {
            padding: 0 10px;
            font-weight: 500;
        }

        .dropdown li:hover {
            color: black;
        }

        .dropdown li.selected {
            color: black; 
        }
        .dropdown li a {
              display: block;
              width: 100%;
              padding: 10px;
              text-decoration: none;
              text-transform: uppercase;
              color: black; 
        }

        .dropdown li > ul li {
            padding: 0 20px;
        }

        .dropdown li > ul li:hover{
            padding: 0 20px;

            transform-origin: 50px 50px;
            transform: rotateZ(6deg);
            transition: transform 0.5s;

        }

        .dropdown li > ul li a {
              color: black; 
        }

        .dropdown li > ul li > ul li {
              padding: 10px 0 10px 30px; 
        }

        .dropdown li > ul li > ul li a {
                color: black;
                font-size: 12px;
                text-transform: none;
                padding: 0; 
        }

        .days{
           padding-bottom: 0.3rem;
           padding-left: 1rem;

        }

        .time-info{
            padding-bottom: 0.7rem;
            padding-left: 1rem;
        }

        .tickets-info{
            padding-left: 1rem;
        }

        .hours{
            transform-origin: top left;
            transform: rotateZ(6deg);
            padding-top: 1rem;
            padding-left: 1rem;

        }

       .admission{
            transform-origin: top left;
            transform: rotateZ(-6deg);
            padding-top: 2rem;
            padding-right: 1rem;
            text-align: left;
            padding-bottom: 1rem;
        }

/* These are the illustration blobs */


        /*.blobs{
            position: relative;
            top: 10vh;
            left: 20vh;
        }

        @media (max-width: 1500px) {
            .blobs{

                left: 0vh;
                top: 0vh;

            }
        */

        .blobs{
            width: 100%;

            position: absolute;
            top: 0;
            left: 0;

            z-index: -1;

        }

        #ex-being-good-neighbours{
            width: 30%;

            top: 90%;
            left: 5%;     
            position: absolute;   
        }

         #ex-buffalo{
            width: 28%;

            top: 80%;
            right: 5%;
            position: absolute;
            z-index: -1;
        }

         #ex-farm-to-fork{
            width: 26%;

            left: 5%;
            top: 180%;
            position: absolute;
        }

        #ex-lighting-buffalo{
            width: 18%;

            right: 5%;
            top: 140%;
            position: absolute;
        }

        #ex-moving-water{
            width: 30%;

            left: 25%;
            top: 150%;
            position: absolute;
        }

        #ex-person-centred{
            width: 26%;

            left: 52%;
            top: 55%;
            position: absolute;
        }

        #ex-playing-together{
            width: 40%;

            left: 20%;
            top: 200px;

             z-index: 1;
        }

        #ex-rooftop-terrace{
            width: 18%;

            left: 45%;
            top: 150%;
            position: absolute;
        }

        #ex-car-wash {
            width: 32%;

            left: 55%;
            top: 170%;
            position: absolute;
        }

        .body-neighbours{
            margin-top: 1rem;
            padding-top: 2rem;
            padding-left: 4rem;
            padding-right: 4rem;
            padding-bottom: 2rem;

        }

       #neighbours{
            width: 50%;
            padding: 2rem;

            float: right;
            position: relative;

       } 

/* ALL EXHIBITS PAGE */

        .exhibit-names{
            margin-right: 1rem;
            padding-left: 4rem;

            max-width: 100%;
            height: auto;

        }

        .exhibit-one,
        .exhibit-two,
        .exhibit-three,
        .exhibit-four,
        .exhibit-five,
        .exhibit-six,
        .exhibit-seven,
        .exhibit-eight,
        .exhibit-nine{
            padding-top: 1.8rem;

            max-width: 100%;
            height: auto;

        }

        .exhibit-one:hover,
        .exhibit-two:hover,
        .exhibit-three:hover,
        .exhibit-four:hover,
        .exhibit-five:hover,
        .exhibit-six:hover,
        .exhibit-seven:hover,
        .exhibit-eight:hover,
        .exhibit-nine:hover{
            transform-origin: 50px 50px;
            transform: rotateZ(4deg);
            transition: transform 0.5s;

            cursor: pointer;
        }

        .exhibit-img{
            display: none;
            position: fixed;
            width: 38%;
            margin-top: 2rem;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-25%,-50%);
        }

        .exhibit-one:hover + .exhibit-img,
        .exhibit-two:hover + .exhibit-img,
        .exhibit-three:hover + .exhibit-img,
        .exhibit-four:hover + .exhibit-img,
        .exhibit-five:hover + .exhibit-img,
        .exhibit-six:hover + .exhibit-img,
        .exhibit-seven:hover + .exhibit-img,
        .exhibit-eight:hover + .exhibit-img,
        .exhibit-nine:hover + .exhibit-img{

            display: block;
            transition: 2s;
        }
